<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our 2024-2025 Leadership Team</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                
                <p class="large text-muted" style="text-align: center;">A powerhouse team of women in STEM, building this community with innovation, passion, and purpose.</p>
                
                <div class="founder-information" 
                     style="display: flex; flex-direction: row; gap: 3rem; width: 100%; margin-top: 4rem; align-items: center;">
                        <div class="founder-col-1">
                            <img src="img/team/founder.png" class="img-responsive img-circle" alt="" style="width: 500px;">
                        </div>
                        <div>
                            <h3>🌟 About the Founder</h3>
                            <p><strong>Lily Yassemi</strong> (B.S. Computer Science, Cal Poly Humboldt) founded the Society of Women in STEM
                                to create an inclusive, student-led community supporting women and nonbinary students in STEM fields. <br/><br/>
                                During her time at Cal Poly Humboldt, Lily championed equity in tech spaces through mentorship, peer collaboration, 
                                and leadership. Her work earned her the <strong>2025 Outstanding Student Award</strong>, 
                                recognizing her efforts to build a more accessible and empowering STEM culture on campus.<br/><br/>
                                Lily's vision continues to inspire the next generation of SWIS members to lead with confidence, curiosity, and community.
                            </p>
                        </div> 
                    </div>
            </div>
        </div>
    </section>